##### Conectamos a la base de datos "transacciones.db" y creamos una tabla "Cuentas". Insertamos dos cuentas iniciales.

In [1]:
import sqlite3

conn = sqlite3.connect('transacciones.db')
cursor = conn.cursor()

# Crear las tablas si no existen
cursor.execute('''
CREATE TABLE IF NOT EXISTS Cuentas (
    id INTEGER PRIMARY KEY,
    nombre TEXT,
    saldo REAL
)
''')

# Insertar datos de ejemplo
cursor.execute("INSERT OR IGNORE INTO Cuentas (id, nombre, saldo) VALUES (1, 'Tutu', 1000.0)")
cursor.execute("INSERT OR IGNORE INTO Cuentas (id, nombre, saldo) VALUES (2, 'Gus', 500.0)")

# Confirmar los cambios iniciales
conn.commit()

##### Observamos los saldos de las cuentas antes de la transacción.

In [2]:
print("Saldos antes de la transacción:")
for row in cursor.execute("SELECT * FROM Cuentas"):
    print(row)

Balances antes de la transacción:
(1, 'Tutu', 1000.0)
(2, 'Gus', 500.0)

##### Iniciamos una nueva transacción. Actualizamos los saldos de las cuentas de Tutu y Gus. Confirmamos la transacción y en caso de error, conn.rollback() revierte la transacción.

In [3]:
# Realizar una transferencia usando una transacción
try:
    conn.execute('BEGIN TRANSACTION')
    
    # Retirar 100 de la cuenta de Tutu
    cursor.execute("UPDATE Cuentas SET saldo = saldo - 100 WHERE id = 1")
    
    # Depositar 100 en la cuenta de Gus
    cursor.execute("UPDATE Cuentas SET saldo = saldo + 100 WHERE id = 2")
    
    # Confirmar la transacción
    conn.commit()
    print("Transacción completada con éxito.")
except sqlite3.Error as e:
    # Revertir la transacción si hay un error
    conn.rollback()
    print(f"Error en la transacción: {e}")

Transacción completada con éxito.

Mostramos los saldos de las cuentas después de la transacción y cerramos la conexion

In [4]:
# Mostrar el sakdo  después de la transacción
print("Saldos después de la transacción:")
for row in cursor.execute("SELECT * FROM Cuentas"):
    print(row)

conn.close()

Saldos después de la transacción:
(1, 'Tutu', 900.0)
(2, 'Gus', 600.0)